<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/public/stylesheets/index.css' />-->
</head>
<body>
<% include navBar.ejs %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<p>
    this is the welcome page .....
</p>
</body>
</html>
