body {
    background-image: url(/images/bg.jpg);
    padding: 20px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: whitesmoke;
}
#container {
    color: black;
    height: 70vh;
    text-align: center;
    padding: 15px;
    margin: 20px;

}
table{
    border: 2px solid black;
    margin: 2px;
    padding: 10px;
    text-align: left;
    background: aliceblue;
    width: 800px;
    float: inherit;
}
td {
    font-family: DejaVu Sans, Carlito, sans-serif;
    font-size: 18px;
    padding: 4px;
    margin: 5px;
}
button{
    width: 150px;
    height: 50px;

}